<div class="booking-price-container">
	<h4 class="booking-price">$<%= listing.escape('price') %></h4>
	<h4 class="booking-per-night">Per Night</h4>
</div>
<div class="start-end">
	<p class="check-in">Check In</p>
	<p class="check-out">Check Out</p>
</div>
<form>
	<div class="date-container booking-date-container">
		<div class="input-daterange input-group booking-dates" id="datepicker">
	    <input type="text" id="start" class="input-sm form-control" placeholder="Start Date" value="<%= options.start %>" name="date[start]" />
	    <span class="input-group-addon">to</span>
	    <input type="text" id="end" class="input-sm form-control" placeholder="End Date" value="<%= options.end %>" name="date[end]" />
		</div>
	</div>
</form>
<div class="price-calculator">
	<h4 class="booking-price">$<%= listing.escape('price') %></h4>
	<h4 class="number-nights"><%= options.numDays %></h4>
</div>