<nav 
	class="navbar navbar-default navbar-fixed-top" 
	role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">TV-BnB</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#/search">Listings</a>
				</li>
				<li>
					<a href="#/listings/new">List Your Space</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if current_user %>
					<li>
						<a href="http://en.wikipedia.org/wiki/George_Costanza">Hi <%= current_user.username %></a>
					</li>
					<li>
						<a class="navbar-img" href="https://twitter.com/seinfeldtoday">
							<img class="gravatar-img" href="https://twitter.com/seinfeldtoday" src="<%= current_user.gravatar_url %>">
						</a>
					</li>
					<li>
						<%= link_to "Log Out", session_url, method: :delete%>
					</li>
				<% else %>
					<li>
						<a href="<%= new_user_url %>">Sign Up</a>
					</li>
					<li>
						<a href="<%= new_session_url %>">Log In</a>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>