<!DOCTYPE html>
<html>
<head>
  <title>TV-BnB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'layouts/header' %>

<%= yield %>

</body>
</html>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuYEwmGeGc8xUTO9fZBvEsOfj4fkX2hIs">
</script>
